.accountCardSection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.singleCardContainer {
    background-color: #fff;
    box-shadow: 16px 16px 32px rgba(42, 42, 42, 0.1);
    border-radius: 20px;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sigleCardIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.singleCardHeader {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
    margin-bottom: 6%;
}

.dashboardOrderCircle {
    width: 33px;
    height: 33px;
    background-color: #F88F15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.dashboardNewOrderCircle {
    width: 33px;
    height: 33px;
    background-color: #0EAD15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.dashboardNoteOrderCircle {
    width: 33px;
    height: 33px;
    background-color: #FEC23C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.dashboardItemSubText {
    padding-left: 10px;
    font-size: 18px;
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

.accountMiddleContainer {
    margin-top: 2%;
    height: calc(100% - 35%);
    overflow-y: auto;
    width: 100%;
}

.accountRecentActivityContainer {
    height: 370px;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 2% 3%;
}

.accountRecentAcitivityHeader {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
    margin-bottom: 3%;
    text-align: center;
}

.accountRecentActivityBodyContainer {
    height: calc(100% - 16%);
    overflow-y: auto;
    background-color: inherit;
}

.accountRecentSingleActivity {
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.accountRecentLeft {
    width: 70%;
    padding: 0 2%;
    background-color: inherit;
}

.accountRecentRight {
    width: 30%;
    background-color: inherit;
}

.accountRecentLeftText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
    text-align: left;
    background-color: inherit;
}

.accountRecentRightText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #152F48;
    text-align: left;
    background-color: inherit;
}

.accountSubMiddleSection {
    width: 100%;
    display: flex;
    margin: 2% 0;
    height: 100%
}

.accountSubMiddleLeftSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100%;
}

.accountSubMiddleRightSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 2%;
    height: 100%;
}

.accountExtractButtonContainer {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.accountExtractButton {
    background: linear-gradient(90deg, #21AE49 0%, #13C846 100%);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    outline: none;
    width: 95px;
    height: 45px;
    border: none;
}

.accountBodyContainer {
    padding: 4%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    /* height: 80%; */
    justify-content: space-around;
}

.accountBodyHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: inherit;
    padding: 3% 0;
}

.accountFooterTxt {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: #152F48;
    margin-top: 5%;
}

.accountBodySelect {
    background: #F7F9FB;
    border: 0.2px solid rgba(21, 47, 72, 0.3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2% 4%;
}

.accountValueReportContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: inherit;
}

.valueReportHeaderRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.valueReportText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
}

.valueReportMarginSelect {
    margin-right: 5%;
}

.accountReportHeaderContainer {
    margin: 2% 0;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0px 4px 4px #F4F8FA;
    border-radius: 8px
}

.accountReportTabContainer {
    margin: 2% 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px #F4F8FA;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.accountTabHeader {
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.accountReportText {
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.accountSingleTabContainer {
    padding: 2% 4%;
    cursor: pointer;
    background-color: inherit;
}

.accountSingleTabActiveContainer {
    border-bottom:  4px solid #F78D12;
    border-radius: 4px;
    padding: 2% 4%;
    background-color: inherit;
    cursor: pointer;
}

.accountReportBodyContainer {
    margin-top: 1%;
    width: 100%;
    height: calc(100% - 47%);
    overflow-y: auto;
}

.customerLedgerContainer {
    width: 100%;
}

.customerLedgerHeaderContainer {
    width: 100%;
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
}

.customerLedgerNoCardItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.customerLedgerCardItemContainer {
    background-color: #fff;
    border-radius: 20px;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    box-shadow: 0px 4px 4px #F4F8FA;
}

.customerLedgerCardHeader {
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}

.customerLedgerHeaderMargin {
    margin-top: 3%;
}

.customerLedgerNoCardHeader {
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.customerLedgerNoCardSubHeader {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #82A3C2;
    padding-top: 8%;
}

.iconContainer {
    margin: 3% 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.iconMargin {
    margin-right: 3%;
}

.iconSection {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
}

.tableContainer {
    width: 100%;
    background-color: inherit;
}

.tableHeaderSection {
    background-color: #fff;
    border-radius: 8px;
}

.tableHeaderContainer {
    padding: 2% 0;
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
}

.tableDepthContainer {
    border-radius: 8px;
   background-color: #fff !important;
}

.tableDepthContainer:nth-child(even) {
    background-color: #F4F8FA !important;
    border-radius: 8px;
}

.tableDepth {
    text-align: center;
    padding: 1% 0;
    font-family: 'Noto Sans', sans-serif;
    color: #152F48;
    font-size: 14px;
    font-weight: 600;
    
}

.createEntryPopUpContainer {
    height: calc(100% - 15%);
    background-color: #F8FAFC;
    padding: 1%;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.createEntryPopUpLeftContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 200px;
    background: #FFFFFF;
    border: 1px solid rgba(21, 47, 72, 0.2);
    border-radius: 20px;
    padding: 0 2%;
    margin-right: 2%;
}

.createEntryPopUpRightContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 630px;
    justify-content: space-between;
}

.createEntryPopUpRightBottomContainer {
    display: flex;
    justify-content: center;
    width: 630px;
    align-items: center;
    margin-top: 1%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 2% 0;
}

.rightContainerCustomerName {
    border: 1px solid rgba(21, 47, 72, 0.2);
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    display: flex;
    background-color: #fff;
}

.customerNamePopUpContainer {
    position: relative;
    width: 75%;
}

.customerBodyContainer {
    position: relative;
    width: 45%;
}

.middleContainerPopUp {
    margin-top: 1%;
    border: 1px solid rgba(21, 47, 72, 0.2);
    border-radius: 20px;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    justify-content: space-evenly;
    display: flex;
    background-color: #fff;
}

.middleContainerPopUpPadding {
    padding: 2% 1%;
}

.createEntryPopUpLeftContainerText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
    cursor: pointer;
}

.createEntryPopUpLeftContainerActiveText {
    color: #F78D12;
}

.createEntryCancelButton {
    width: 114px;
    height: 45px;
    text-align: center;
    border: 1px solid #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #152F48;
    margin-right: 4%;
    background: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.createEntrySaveButton {
    width: 114px;
    height: 45px;
    background: #FFA412;
    border-radius: 8px;
    outline: none;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.accountEntryInputLabel {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    left: 0;
    top: 27%;
    transform: translateY(-50%);
    background-color: white;
    color: #262E36;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.loginInSignUpCustomInput:focus + .accountEntryInputLabel {
    color: #262E36;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.loginInSignUpCustomInput:focus::placeholder {
    opacity: 1;
    font-family: 'Noto Sans', sans-serif;
}

.loginInSignUpCustomInput:not([value=""]) + .accountEntryInputLabel {
    color: #262E36;
    top: 0;
    transform: translateY(-50%) scale(.9);
}

.accountsChartContainer {
    padding: 3% 0;
}

.accountGstReportButton {
    width: 100%;
    margin: 2% 0;
    background: linear-gradient(90deg, #21AE49 0%, #13C846 100%);
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    outline: none;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 5% 0;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}

.accountsGrtPopUpReportHeader {
    color: rgba(21, 47, 72, 0.8);
    font-weight: bold;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}