@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  background-color: #F8FAFC;
}

.linkStyle {
  text-decoration: none;
  background-color: inherit;
}

.mainContainer {
  width: 100%;
  display: flex;
}

.mainContentContainer {
  width: 100%;
  margin: 0 3%;
  overflow: hidden;
  height: 100vh;
}

p {
  background-color: inherit;
}

.progressCircle {
  position: relative;
  width: 114px;
  height: 114px;
}

.progressCircle svg {
  width: 114px;
  height: 114px;
}


.yellowBackground {
  fill: none;
  stroke-width: 10px;
  stroke: #FAEEDA;
}

.greenBackground {
  fill: none;
  stroke-width: 10px;
  stroke: #C3F2D0;
}

.redBackground {
  fill: none;
  stroke-width: 10px;
  stroke: #FFA6A6;
}

.redCircleProgress {
  fill: none;
  stroke-width: 10px;
  stroke: #FF1E1E;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.greenCircleProgress {
  fill: none;
  stroke-width: 10px;
  stroke: #22AB49;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.yellowCircleProgress {
  fill: none;
  stroke-width: 10px;
  stroke: #FFB744;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  transform: rotate(-190deg);
  transform-origin: 50% 50%;
  animation: big 1.5s ease-in-out;
}

.progressCircleText {
  position: absolute;
  width: 100%;
  top: 45px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #152F48;
  font-family: 'Noto Sans', sans-serif;
}

.editActionIconContainer {
  position: relative;
}

.editActionBodyContainer {
  position: absolute;
  z-index: 9;
  padding: 1%;
  display: flex;
  flex-direction: column;
  top: 95%;
  right: 6%;
}

.editActionBodyItemContainer {
  background: #F4F8FA;
  border-radius: 8px;
  margin: 3% 0;
  padding: 2% 3%;
  display: flex;
  width: 120px;
  justify-content: space-between;
  cursor: pointer;
}

@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes appear {
	0%, 50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
