.orderReportHeaderContainer2 {
    display: flex;
    margin: 2% 0;
    justify-content: space-between;
}

.orderReportHeaderItemContainer {
    width: 320px;
    height: 140px;
    background: #FFFFFF;
    border: 0.2px solid rgba(21, 47, 72, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.orderHeaderItemMargin {
    margin: 0 2%;
}

.orderEntryInputMargin {
    margin-top: 2%;
}

.orderReportHeaderGraphContainer {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderReportHeaderTextContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderReportHeaderGraphText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #152F48;
    text-align: center;
}

.orderReportTableBodyContainer {
    width: 100%;
    background-color: #fff;
    height: calc(100% - 50%);
    overflow-y: auto;
}

.productionReportBodyContainer {
    width: 100%;
    margin-top: 2%;
    height: calc(100% - 20%);
    overflow-y: auto;
}

.productionReportTableBodyContainer {
    width: 100%;
    margin: 2% 0;
}

.prodcutionReportTableTotalButton {
    background: #152F48;
    border-radius: 8px;
    padding: 2%;
    color: #F8FAFC;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.orderReportTableBodyContainerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.orderReportTableBodyContainerHeaderText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #152F48;
    padding-left: 2%;
}

.orderReportTableBodyContainerHeaderIconContainer {
    width: 300px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding-right: 2%;
}

.orderReportTableBodyContainerTable {
    width: 100%;
}

.orderReportTableBodyContainerTableHeader {
    background: #F4F8FA;
    border-radius: 8px;
}

.orderReportTableBodyContainerTableHeaderText {
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #152F48;
}

.orderReportTableBodyContainerTableBodyRow:nth-child(even) {
    background-color: #F4F8FA;
}

.orderReportTableBodyContainerTableBodyRowText {
    padding: 1%;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #152F48;
    cursor: pointer;
}

.productionStartSection {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
}

.productionStartItemContainer {
    display: flex;
    flex-direction: column;
    width: 280px;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px rgba(21, 47, 72, 0.08);
    border-radius: 10px;
    padding: 2%;
}

.productionStartItemHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #152F48;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin: 2% 0;
}

.productionStartBodyContainer {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.productionStartItem {
    display: flex;
    justify-content: space-between;
}

.productionStartItemLeft {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #152F48;
}

.productionStartItemRight {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFA412;
}

.productionGraphContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}

.productionGraphItem {
    width: 480px;
    background: #FFFFFF;
    box-shadow: 16px 16px 32px rgba(21, 47, 72, 0.08);
    border-radius: 10px;
    display: flex;
    padding: 2% 0;
}

.productionReportGraphText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #152F48;
    text-align: left;
    width: 100%;
}

.productionReportGraphSubText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    color: #152F48;
    margin-top: 3%;
    width: 100%;
}

.productionReportGraphSelectContainer {
    width: 80%;
    margin-top: 2%;
    display: flex;
    justify-content: right;
}

.productionReportGraphSelect {
    background: #F4F8FA;
    border: 0.5px solid #152F48;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 2% 4%;
}