.signUpContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff !important;
}

.signUpLeftSection {
    width: 70%;
    background-color: inherit;
}

.signUpImage {
    width: 100%;
    background-color: inherit;
}

.signUpRightSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    background-color: inherit;
}

.signUpLoginSection {
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: inherit;
}

.signUpLoginText {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #152F48;
    cursor: pointer;
    background-color: inherit;
}

.logInHeaderText {
    text-decoration: none;
    background-color: inherit;
}

.signUpLoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
}

.signUpLoginActiveSection {
    width: 94px;
    height: 7px;
    background-color: rgba(237, 24, 111, 1);
    border-radius: 10px;
}

.signUpFormConatiner {
    margin-top: 12%;
    background-color: inherit;
}

.signUpFormInputContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: inherit;
}

.signUpFormLabel {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #152F48;
    background-color: inherit;
}

.signUpFormInput {
    padding-bottom: 10px;
    margin-top: 3%;
    border: none;
    border-bottom: 0.2px solid #152F48;
    outline: none;
    background-color: inherit;
}

.signUpFormInputMargin {
    margin-top: 6%;
    background-color: inherit;
}

.signUpFormSubmitButton {
    background: linear-gradient(90deg, #FBAE2F 0%, #F89116 105%);
    border: 0.5px solid rgba(21, 47, 72, 0.3);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    width: 85%;
    margin: 6% 0 4% 0;
    cursor: pointer;
    background-color: inherit;
}

.signUpDivider {
    text-align: center;
    color: #152F48;
    font-size: 15px;
    line-height: 17px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    width: 80%;
    background-color: inherit;
}

.signInFooterText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 27px;
    color: #262E36;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin-top: 3%;
    cursor: pointer;
    background-color: inherit;
}

.signUpFooterLogo {
    background-color: inherit; 
}